@{
    ViewData["Title"] = "League of Legends Fan page";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <img src="~/img/icons/png/lol.png" class="tile-image">
        <blockquote>
            <p>Lol</p>
            <small>League of Legends to je pecka</small>
        </blockquote>
    </div>
</div>
