@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Prihlásiť sa";
}

<div class="row">
    <div class="col-md-6 text-center">
        <section>
            <h2>@ViewData["Title"]</h2>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Použi vlastný účet </h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-left">
                    <label class="checkbox" for="checkbox1">
                        <input asp-for="RememberMe" id="checkbox1"  data-toggle="checkbox" class="custom-checkbox" type="checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                        Zapamätať
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Prihlásiť sa</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Zabudnuté heslo?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registruj sa!</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <div class="tile tile-hot">
            <img src="~/img/icons/svg/pencils.svg" alt="ribbon" class="tile-hot-ribbon">
            <img src="~/img/icons/svg/chat.svg" alt="Chat" class="tile-image">
            <h3 class="tile-title">Bezplatná registrácia</h3>
            <p>Ešte nie si registrovaný?</p>
            <a class="btn btn-primary btn-large btn-block" asp-area="" asp-controller="Account" asp-action="Register">Registruj sa!</a>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}